body {
  background-color: #000000; /* Your preferred background color */
  font-family: 'Rockledge', sans-serif;
}


@font-face {
  font-family: 'Rockledge';
  src: url('./fonts/rockledge.ttf') format('truetype');
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.candle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.candle-image {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.candle-image:hover {
  transform: rotate(2deg);
}

.candle-image.selected {
  border: 2px solid red;
}
.candle-image.non-selected {
  filter: grayscale(100%);
}


.scrolling-skulls-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center; /* Center skulls if they don't fill the entire width */
}

.skull-image {
  flex: 0 0 auto; /* Do not grow or shrink */
  width: 9%;
  width: 9%;
  border: 1px solid white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.skull-image:hover {
  transform: scale(2); /* Enlarge on hover */
}

.endcap {
  flex: 0 0 auto;
  width: calc(45% + 20px);
}

.image-overlay-container {
  position: relative;
  width: 400px;
}

.image-overlay-container:hover .overlay-text {
  display: flex;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


.description-text {
  color: #dbd68c;
}

.author-text {
  color: #dbaa72;
}





